<%- include('parts/html-head') %>
<%- include('parts/navbar') %>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
        </tr>
        </thead>
        <tbody>
        <% for(let i of sales){ %>
        <tr>
            <td><%= i.id %></td>
            <td><%= i.name %></td>
            <td><%= i.age %></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>
<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>
