<%- include('../parts/html-head') %>
<%- include('../parts/navbar') %>
<div class="container">
    <div class="row">
        <div class="col">

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">email</th>
                    <th scope="col">mobile</th>
                    <th scope="col">birthday</th>
                    <th scope="col">address</th>
                </tr>
                </thead>
                <tbody>
                <% for(let i of rows){ %>
                <tr>
                    <td><%= i.sid %></td>
                    <td><%= i.name %></td>
                    <td><%= i.email %></td>
                    <td><%= i.mobile %></td>
                    <td><%= i.birthday %></td>
                    <td><%= i.address %></td>
                </tr>
                <% } %>
                </tbody>
            </table>

        </div>
    </div>
</div>
<%- include('../parts/scripts') %>
<%- include('../parts/html-foot') %>
